//center
.centered {
  margin-left: auto;
  margin-right: auto;
}



%nav-item-horiz {
display:inline-block;
margin: 0 12px;
}

%nav-item-link {
  display:block;
  font-size: 18px;
  font-weight: lighter;
  padding: 8px;
  Width: 80%;
  max-width: 100%;
  height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-color: teal;
  //@include mq(small) {
    //padding-top: 15px;
    //padding-bottom: 15px;
  //}
}

%nav-item-on {
  color: black;
}

%btn {
  display: block;
  width: 70%;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
%grid {
  width:90%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

%clearfix {
  &:after {
    content: "";
  display:table;
  clear:both;
  }
}

/*%hdln-prim {
  font-size: 42px;
  font-weight: lighter;
  color: teal;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
}

%hdln-sec {
  font-size: 24px;
  color: grey;
  text-align: left;
  margin-top: 3em;
  margin-bottom: 10px;
}
*/
