//button background color
@mixin btn-bg-colors($map){
  @each $theme, $color in $map {
  &-#{$theme}{
    background-color: $color;
  }
}
}


//media queries
  @mixin mq($break) {
 @if $break == "small" {
    @media(min-width:$brkpoint-s) and (max-width:$brkpoint-m) {
      @content;
      }
    }
  @else if $break == "medium" {
    @media(min-width:$brkpoint-m + 1) {
      @content;
}
}
  @else if $break == "large" {
   @media(min-width:$brkpoint-l) {
      @content;
    }
  }
@else {
  @error "Whoops! No value could be retrieved for '#{$break}' ";
}
}

  //elements and modifiers
  @mixin e($element){
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier){
  &--#{$modifier} {
    @content;
  }
}

//generate column modifier classes



//flexbox
@mixin flexy($disp:flex, $dir: null, $wrap: null, $just: null,) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
}
