//link styles

%link {
text-decoration: none;
display: block;
height: 100%;
width: 100%;
}

//image styles
%img {
  display: flex;
  width:300px;
  height:200px;
  max-width: 100%;
  @extend .centered;
}
