// use for

//create variables for repeated values

//at min create variables for fonts, breakpoints and colors

//import this partial into your utilities/index.scss file


//font variables
$base__font-size: 16px;
$base__line-height: 24px;

//font family stack for main styles
/*
$font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;i
$font-family-secondary: ;
*/


//font path




//media query breakpoint
$brkpoint-s : 480px;
$brkpoint-m : 768px;
$brkpoint-l:  1100px;


//descriptive color-secondary
$white: #fff;
$black: #000;
$grey: #878787;

//button colors
$lightskyblue: #87cefa;
$lightgreen: #90ee90;
$tomato:#ff6347;
$lightsalmon: #ffa07a;
$mediumpurple: #9370db;

//ui-colors theme colors
$theme-colors: (default: $lightskyblue,
                success: $lightgreen,
                error:   $tomato,
                warning: $lightsalmon,
                info:    $mediumpurple);

//functional color variables for main style
  $color-primary: #278da4;
  $color-secondary: lightgrey;

//button border radius
$br-default: 5px;
$br-round: 50%;

//grid
$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1050px;
