// use for

//create variables for repeated values

//at min create variables for fonts, breakpoints and colors

//import this partial into your utilities/index.scss file


//font variables
$base__font-size: 16px;
$base__line-height: 24px;

//font stack
/*
$font-stack-primary: "Helvetica Neue";
$font-stack-secondary: ;
*/


//font path




//media query breakpoint variables

$brkpoint-s : 1px;
$brkpoint-m : 768px;
$brkpoint-l:  1100px;

//functional color variables
$color-primary: #278da4;
$color-secondary: lightgrey;

//descriptive color-secondary
$white: #fff;
$black: #000;
$grey: #878787;

//button border radius
$br-default: 5px;
$br-round: 50%;

//button colors
$lightskyblue: #87cefa;
$lightgreen: #90ee90;
$tomato:#ff6347;
$lightsalmon: #ffa07a;
$mediumpurple: #9370db;

//ui-colors
$ui-colors: (default: $lightskyblue,
             sucess: $lightgreen,
             error: $tomato,
             warning: $lightsalmon,
             info: $mediumpurple);


//grid
$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1050px;
