//Buttons:
.btn {
  @include btn-bg-colors($theme-colors);
  @extend %btn;
&:hover{
  opacity: .70;
}
&:active {
  opacity: initial;
}


&--default{
  @extend %btn;
  background-color:$lightskyblue ;
}
&--success{
  @extend %btn;
  background-color:$lightgreen ;
}
&--error{
  @extend %btn;
  background-color:$tomato;
}
&--warning{
  @extend %btn;
  background-color: $lightsalmon;
}
&--info{
  @extend %btn;
  background-color: $mediumpurple;
}
&--theme__colors {
  @extend %btn;
  //background-color: white;
}
}
