//Image:


.img--logo{
  display:block;
  @extend %img;
}

.img--frame {
  @extend %img;
  border: 2px solid lightgrey;
  width:200px;
  height:100px;
  @include mq(medium);
  width:300px;
  height:200px;
  @include flexy($dir:row){
  }
}


.img--avatar{
  @extend %img;
  width: 100px;
  height:100px;
    max-width: 100%;
    @include mq(medium);
    width:200px;
    height:200px;
  //@include flexy($dir:row){
    //}
  }
