//Image:


.img--logo{

}



.img--frame {
  width:165px;
  border: 4px solid white;
  margin-top: 75px;

  //@media(max-width:$break-xs)


}



.img--avatar{
  @include flexy($just: right){
    
  }

}
