//Navigation:

.nav
{
  @include flexy($dir:column,){
}
margin-top: 20px;
margin-bottom: 30px;
  @include e(item) {
  @extend %nav-item-disp;

  a {
    @extend %nav-item-link;
    color:grey;


      &:hover {
        @extend %nav-item-on;
        background-color: $color-primary;
      }
@include mq(medium){
@include flexy($dir:row, $just:space-between){
}
}
}
}
}
