//Navigation:

.nav{
    margin-top: 35px;
    margin-bottom: 30px;
    line-height: 12px;
    @include mq(small){
    @include flexy($dir:column){
    }
    }

    @include e(item) {
    @extend %nav-item-disp;
        a {
        @extend %nav-item-link;
        font-family:$font-family--secondary;
        color: $grey;
        width:100%;

            &:hover {
              @extend %nav-item-on;
              background-color: $color-primary;
              border-radius: 6px;
              color:white;
            }
          }

      @include mq(medium){
        a{
          font-size: 26px;
          @include flexy($dir:row,$just:flex-end){
          }

}
}
}
}
