//Navigation:

.nav{
    margin-top: 20px;
    margin-bottom: 30px;

    @include e(item) {
      @extend %nav-item-disp;
        a {
        @extend %nav-item-link;
        font-family: $font-family--secondary;
        color: $grey;

            &:hover {
              @extend %nav-item-on;
              background-color: $color-primary;
            }
          }

      @include mq(medium){
        a{
          display: inline-block;
          @include flexy($dir:row,$just:space-between){
}
 @include mq(medium){
  @include flexy($dir:row,$just:flex-end){
}
}
}
}
}
}
