//Typography:


.container {
  @extend .centered;
  color: $grey;
  font-weight: $font-weight-dark;
  font-size: 1rem;
  font-family: $font-family--primary;
  line-height: 1.5em;
  margin: 0;
  @include mq(medium){
  }
}



.link{
  text-decoration: none;
  color: $color-primary;
}

.blockquote{
  @extend .centered;
  font-size: $font-size--small;
  border-left: 6px solid $color-primary;
  padding-left: 35px;
  border-radius: $br-default;
  margin-bottom: 2em;
}


.headline--primary {
  font-family: $font-family--primary;
  @extend %hdln-prim;

}



.headline--secondary{

    @extend %hdln-sec;

}
