//Typography:


.container {
  @extend .centered;
  width:100%;
  color: $grey;
  font-weight: $font-weight-base;
  font-size: 1rem;
  font-family: $font-family--primary;
  line-height: 1.5em;
  @include mq(medium){
    width:80%;
  }
}

.link{
  display: block;
  text-decoration: none;
  color: $color-primary;
    @include mq(medium){
    display: inline-block;
}
}



.blockquote{
  @extend .centered;
  text-align: center;
  font-family: $font-family--secondary;
  font-size: $font-size--small;
  border-left: 6px solid $color-primary;
  padding-left: 15px;
  border-radius: $br-default;
  margin-bottom: 1em;
}


.headline--primary {
  font-family: $font-family--primary;
  @extend %hdln-prim;

}



.headline--secondary{
  font-family: $font-family--secondary;
  font-weight: $font-weight-light;
    @extend %hdln-sec;
}
