
//base styles of project
//only use styles for


//uiversal selector
*{
box-sizing: border-box;
}


//ul
Ul.nav {
  display: block;
  list-style: none;
  background-color: teal;
  border-radius: 5px;
  height:30px;
  width: 100%;
}



//p
p {
  text-align: center;
  line-height: 25px;
  font-size: 16px;
}
