
//base styles of project
//only use styles for


//uiversal selector
*{
box-sizing: border-box;
}


//ul
Ul {
  height:30px;
  width: 100%;
  margin-bottom: 200px;
}



//p
p {

  text-align: center;
  line-height: 24px;;
  margin: 0 auto;
  font-size: 16px;
  color: grey;
}
