
//base styles of project
//only use styles for


//uiversal selector
*{
box-sizing: border-box;
}


//ul
Ul {
  text-decoration: none;
  list-style-type: none;
  width: 100%;

}



//p
p {
  text-align: left;
  line-height: 22px;
  margin: 0 auto;
  font-size: 16px;
  color: grey;
}
